@import url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css"); 
:root {
    --ls-tag-text-opacity: 0.8;
    --ls-tag-text-hover-opacity: 1;
    --ls-page-text-size: 1em;
    --ls-page-title-size: 1.em;
    --ls-main-content-max-width: 1080px;
    --ls-main-content-max-width-wide: 100%;
    --ls-font-family: "Fira Code", "PingFang SC";
    --ls-scrollbar-width: 6px;
    --ls-border-radius-low: 4px;
    --ls-border-radius-medium: 8px;
    --ls-headbar-height: 3rem;
    --ls-headbar-inner-top-padding: 0px;
    --ls-left-sidebar-width: 246px;
    --ls-left-sidebar-sm-width: 70%;
    --ls-left-sidebar-nav-btn-size: 38px ;
}

.block-body {
    margin: 0.5em 0px;
}

.editor-wrapper, .ls-block {
    margin-right: auto;
    margin-left: auto;
}

.block-body dl > li, .block-body ol > li, .block-body ul > li {
    margin: 0;
}

.block-body .is-paragraph:first-child {
    margin-top: 1em;
}

.is-paragraph + ul > li:first-child {
    margin-top: -1em !important;
}

.block-body .is-paragraph:last-child {
    margin-bottom: 1em;
}

.table-wrapper + .is-paragraph br:first-child {
    display: none;
}

.is-paragraph {
    line-height: 1.7;
}

.is-paragraph + .file-level-property {
    margin-top: 1em;
}

.block-children-container.flex {
    margin: 0.5em 0px;
}

img.rounded-sm.shadow-xl.relative {
    margin: auto 0px;
    width: 100%;
    max-width: 720px;
    display: block;
}

.CodeMirror-gutter-wrapper {
    display: none;
}

.CodeMirror-gutters {
    display: none;
}

.cm-s-solarized .cm-comment {
    color: rgb(88, 110, 117);
    font-style: normal;
}

.katex {
    text-rendering: auto;
    font: 1.03em / 1.2 "Fira Code", "PingFang SC", KaTeX_Main, "Times New Roman", serif;
    text-indent: 0px;
}

tr:nth-child(2n) {
    background: var(--ls-primary-background-color) !important;
}

tr:nth-child(2n+1) {
    background: var(--ls-primary-background-color) !important;
}

td, tr, th {
    border-top-color: rgb(129, 120, 106);
    border-bottom-color: rgb(129, 120, 106);
    font-size: var(--ls-page-text-size) !important;
    min-width: 10em !important;
    border-left: 1px solid var(--ls-border-color) !important;
    border-right: 1px solid var(--ls-border-color) !important;
}

th {
    border-bottom: 0px solid var(--ls-border-color) !important;
}

.table-wrapper {
    max-width: 100% !important;
}

.warning.text-sm {
    display: none;
}

table {
    display: block !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
}

.cp__fenced-code-block + .is-paragraph {
    margin-top: 1em;
}

.is-paragraph + dl {
    margin-top: -1em;
}

.flex.flex-row.items-center div a {
    display: none;
}

.flex.flex-row.items-center div {
    display: none;
}

dd {
    margin-top: 1em;
}

dt::before {
    content: "- ";
}

dt::after {
    content: " :";
}

.cm-s-solarized.cm-s-dark {
    color: rgb(131, 148, 150);
    background-color: rgba(0, 43, 54, 0);
    text-shadow: rgb(0, 43, 54) 0px 1px;
}

.cm-s-solarized.cm-s-light {
    background-color: rgba(253, 246, 227, 0);
    color: rgb(101, 123, 131);
    text-shadow: rgb(238, 232, 213) 0px 1px;
}

.extensions__code-lang::before {
    content: "#+BEGIN_SRC ";
    margin-left: 0;
    padding-left: 0;
}

.extensions__code-lang {
    font-size: 0.8em;
    position: relative;
    line-height: 0 !important;
    padding-left: 0 !important;
}

.extensions__code {
    position: relative;
    z-index: 0;
    display: block;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.extensions__code::after {
    content: "#+END_SRC";
    font-size: 0.8em;
    background: var(--ls-secondary-background-color);
}

